<p-panel header="Northwind Employees">
    <div class="ContentSideSections Implementation">
        <p-dataTable [value]="employees" selectionMode="single"
                [paginator]="true"
                [rows]="5"
                [lazy]="true"
                [totalRecords]="totalRecords"
                (onLazyLoad)="loadEmployeesLazy($event)"
                [responsive]="true">
            <header>Northwind Employees</header>
            <p-column field="EmployeeID" header="Id (greaterThan)" [sortable]="true" [filter]="true" filterMatchMode="gt"></p-column>
            <p-column field="FirstName" header="FirstName (contains)" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column field="LastName" header="LastName (endswith)" [sortable]="true" [filter]="true" filterMatchMode="endswith"></p-column>
            <p-column field="City" header="City (length equals)" [sortable]="true" [filter]="true" filterMatchMode="length:eq"></p-column>
            <p-column field="BirthDate" header="BirthDate (year greaterThan)" [sortable]="true" [filter]="true" filterMatchMode="year:gt">
                <ng-template let-employee="rowData" pTemplate="body">
                    {{ employee.BirthDate | date: 'medium' }}
                </ng-template>
            </p-column>
            <p-column field="Boss.FirstName" header="Boss (contains)" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
        </p-dataTable>
        <hr>
        <pre>count : {{count}}</pre>
        <hr>
        <pre>filter : {{filter | json}}</pre>
        <hr>
        <pre>url : {{url}}</pre>
        <hr>
        <pre>query : {{queryAsJson}}</pre>
    </div>
</p-panel>